$light: #fff;
$primary-color: #044a30;
$secondary-color:hsl(186, 72%, 24%);
$base-color:#fff;
$title-color:#044a30;
$black:#222;
$gray:#eff0f3;
$secondary-bg:#f4f9fc;
$border-color:#fafafa;
$primary-font: 'Exo', sans-serif;
$secondary-font:'Roboto', sans-serif;

$grad-color:linear-gradient(to bottom,#05a5f9,#10dab7);